/*Overall page styling*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

/*Consistent font across the site*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*User first name display in top right corner*/

#userName {
    float: right;
    padding-right: 15px;
    margin-left: auto;
    display: inline-block;
    font-size: 18px;
}

/*Buttons that are used to submit forms*/

input[type=button]:not([id="location"]), input[type=submit] {
    border-radius: 10px;
    background-color: lightgrey;
    border:3px solid grey;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

/*Transition for form buttons*/

input[type=button]:hover:not([id="location"]), input[type=submit]:hover {
    color: white;
    background-color: #007160;
    border: 3px solid grey;
}

/*Star rating on search form*/

.searchitem img[src="public/images/star.png"] {
    width: 35px;
    height: 35px;
}

/*Star ratings in other places*/

img[src="public/images/star.png"], th img[src="public/images/star.png"] {
    width: 20px;
    height: 20px;
}

/* Container at top section of page */

header {
	padding-top: 5px;
    padding-bottom: 20px;
    position: relative;
    background-color: #007160;
    color: white;
	text-align: center;
    border-bottom: 5px solid grey;
    display: flex;
    flex-direction: column;
}

/*Foremost page headings*/

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

/* For the navigation bar */

nav {
    min-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    position: relative;
    margin: auto;
}

    /*Links in the nav bar*/

    nav a {
        display: inline-block;
        width: 150px;
        border: 1px solid white;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }
    
    /*Transition state for links in the nav bar*/

    nav a:hover {
        color: #007160;
        background-color: white;
    }
   
 /*Login/Signup/Logout buttons*/
 
#userControl {
	position: relative;
	float: right;
    display: block;
    margin-right: 30px;
}

    /* Style for user control button links */

    #userControl a {
        border: none;
    }
    
/* For links to the other pages (main pages) */
    
#pages {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    float: left;
}

/* For main (white) section between header and footer */

main {
    color: #4e4e4e;
    width: 60%;
    min-height: 800px;
    position: relative;
    margin: auto;
    /*left: 25%;*/
    /*transform: translateX(-80%);*/
    padding: 20px 0;
    padding-left: 20px;
    padding-bottom: 75px;
    padding-top: 75px;
}

/* Alter the stretch of main content according to browser dimensions */

@media screen and (max-width: 1000px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 1245px) {
    nav {
      width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #userControl {
        margin-right: 0;
    }
}

/* Map for search results */

#resultsmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 350px;
    border: 0;
}

/* Results table */

table, table th {
    border: 3px solid #007160;
}

table td {
    border: 1px solid #007160;
}

/* Elements on the individual item page */

#parktitle {
	/*@type: "Name";*/
    display: inline-block;
}

.parkcont {
    width: 100%;
}

#parkimgdesc {
    display: inline;
    margin-bottom: 15px;
}

#map, #reviews {
    /*display: inline-block;*/
    padding: 5px 5px 5px 5px;
    margin: 5px;
    width: 45%;
    height: 550px;
    border: 2px solid #4e4e4e;
    float: left;
}

#map h4, #reviews h4 {
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#parkrating {
    display: inline;
    float: right;
    box-shadow: 2px 2px 2px #4e4e4e;
    padding: 3px;
    margin-right: 8%;
    border-radius: 5px;
}

#parkrating img {
    width: 30px;
    height: 30px;
}

#otherinfo #map {
    /*width: 50%;*/
}

/* Button for opening review writer */

#writebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Review form elements */

#reviewwrite input[type=submit] {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#reviewwrite textarea {
    width: 97%;
    font-size: 12px;
}

#reviewwrite input[type=range] {
	width: 100%;
	border: 1px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Numbers for identifying range bar values in review form */

#r1, #r2, #r3, #r4, #r5 {
    display: inline;
    position: relative;
}

#r1 {
    left: 5%;
    float: left;
}

#r2 {
    left:22.5%;
    float: left;
}

#r3 {
    right: 47.5%;
    float: right;
}

#r4 {
    right: 22.5%;
    float: right;
}

#r5 {
    right: 0;
    float: right;
}

#parkmap {
    width: 100%;
    border: 0;
    height: 475px;
}

/* Style for search form elements */

.searchitem  *:not(img) {
    width: 65%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchitem input[type=text], .searchitem select {
    border: 1px solid black;
}

#location {
    font-size: 15px;
}

/* Review box */

textarea {
    resize: none;
}

/* Search button, sign up and login buttons */

#searchBtn, #submitb {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font: bold;
}

/* Sign up input boxes */
	
input[type=text], input[type=date], input[type=password], input[type=email], select {
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 15px;
}

/* Sign up error boxes */

.error {
    color: red;
    font-weight: bold;
    /*visibility: hidden;*/
}

#signupfail {
    width: 100%;
    text-align: center;
}

#nameerror, #passworderror {
    width: 100%;

}

/* Sign up input element labels and other labels in site */

label {
    padding-bottom: 15px;
    font-weight: bold;
}

#fnamelabel, #doblabel, #addresslabel, #postcodelabel, #pswdlabel, #doberror, #addresserror, #postcodeerror {
    display: inline-block;
    width: 45%;
}

#lnamelabel, #emaillabel, #statelabel, #corlabel, #cpswdlabel, #emailerror, #stateerror, #corerror {
    display: inline-block;
	margin-left: 5%;
    width: 45%;
}

/* Sign up input elements */

#fname, #dateofbirth, #addr, #pc, #pswd {
	border: 1px solid black;
	width: 45%;
    min-height: 45px;
    display: inline-block;
    /*-ms-wrap-flow: maximum; -> Applies to IE*/ 
}

#lname, #emailad, #ste, #corres, #cpswd {
	border: 1px solid black;
    margin-left: 5%;
    display: inline-block;
    width: 45%;
    min-height: 45px;
}

#corres {
    border: none;
    padding-top: 5px;
    padding-left: 5px;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 20px;
}

input[type=range] {
	border: 1px;
	width: 20px;
    height: 20px;
}

/* Site footer at bottom of all pages */

footer {
    padding: 30px 30px;
    background-color: #007160;
    color: white;
    text-align: center;
    clear: both;
    min-height: 100px;
    border-top: 5px solid grey;
}

/* Author details in footer */

#cal {
    float: left;
    display: inline-block;
}

#doug {
    float: right;
    display: inline-block;
}

/* Results table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td a {
    
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Review list */

.review {
	overflow-y: auto;
	overflow-x: auto;
	/*height: 450px;*/
}

#logindiv {
	font-style: bold;
}

/* Rating slider */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #007160;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 20px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #008b76;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #007160;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 20px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00584a;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #007160;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 20px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #007160;
}
input[type=range]:focus::-ms-fill-upper {
  background: #008b76;
}

#ratingNum {
	display: relative;
	word-spacing: 80px;
}
